body{
  display: flex;
  background-image: url("../images/b6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;

}
h1{
    text-align: center;
    margin-left: 75%;
    color: #FFFFFF;
    font-size: 300%;
}
nav{
    background-color: none;
    height: 50px;

}
nav li{
    display: inline;
    margin-left: 30px;

}

nav li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    text-size: 10px;
    font-size: 130%;

}
a:hover{
  color: black;
  background-color: yellow;
  text-decoration: underline;
}
h2{
  color: white;
}
p {
  color: white;
}
